# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual Environment
venv/
env/
ENV/
.venv/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
*.mo
*.cover
coverage.xml
htmlcov/
*.pytest_cache/
*.mypy_cache/
*.pylint.d/
*.ruff_cache/

# VSCode
.vscode/

# JetBrains
.idea/

# OS Files
.DS_Store
Thumbs.db

# Environment variables
.env
